/* styles.css */

/* Add styles here to customize the appearance of your app */

* {
    font-family: Papyrus !important;
}

input.form-control {
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
}

select.form-control  {
    font-size: 18pt;
    font-weight: bold;
}

table thead tr:first-child th{
    width: 10%;
    font-size: 12pt;
    border: none;
}


table thead tr:last-child th{
    font-size: 6pt;
    font-style: italic;
    border: none;
}

table thead tr{
    border: none;
}

table.custom tbody td {
    align-items: center;
    height: 100px;
    width: 10%;
    vertical-align: middle;
    background-color: transparent;
    cursor: pointer;
}

table.custom tbody td:hover {
    background-color: rgb(210,227,252);
}

table.gregorian tbody td {
    align-items: center;
    height: 60px;
    width: 14%;
    vertical-align: middle;
    background-color: transparent;
    cursor: pointer;
}

table.gregorian tbody td:hover {
    background-color: rgb(210,227,252);
}

td.today {
    background-color: rgb(26,115,232) !important;
}

td.notydate {
    background-color: rgb(66,133,244) !important;
}

#notyModal div.model-body div {
    text-align: left;
}

form .form-control {
    font-size: 12pt;
    font-weight: normal;
}

svg.editSvg {
    cursor: pointer;
}

svg.removeSvg {
    cursor: pointer;
}